<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<style>
body{
	text-align: center;
}
</style>
<body>
<h3>도서대여관리</h3>
<nav>
	<a href="/save">도서등록</a>
	<a href="/list">도서목록조회</a>
	<a href="/join">대여현황조회</a>
	<a href="/">홈으로</a>
</nav>
<form id="form1" class="form-horizontal" method="post" action="save">
				<h2>도서대여관리</h2>
				<div class="form-group">
					<label>도서번호</label> <input type="text" class="form-control"
						name="bookNo" th:value="${max} + 1 " readonly>
				</div>
				<div class="form-group">
					<label>도서명</label> 
					<input type="text" class="form-control" name="bookName" >
				</div>
				<div class="form-group">
					<label>도서표지</label> 
					<input type="text" class="form-control" name="bookCoverimg" >
				</div>
				<div class="form-group">
					<label>출판일자</label> 
					<input type="date" class="form-control" name="bookDate">
				</div>
				<div class="form-group">
					<label>금액</label> 
					<input type="text" class="form-control" name="bookPrice">
				</div>
				<div class="form-group">
					<label>출판사</label> 
					<input type="text" class="form-control" name="bookPublisher">
				</div>
				<div class="form-group">
					<label>도서소개</label> 
					<input type="text" class="form-control" name="bookInfo" >
				</div>
				
				<div class="form-group">
					<input type="submit" class="btn btn-primary" value="등록" id="btnInsert" />  
					<input type="button" class="btn btn-primary" value="초기화" id="btnInit" />
				</div>
			</form>
</body>
<script>

</script>

</html>