<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mappers.BoardMapper">
<!-- 등록, 수정, 삭제, 조회, 단건조회 -->
<insert id="insertBoard" parameterType="boardDTO">
    INSERT INTO tbl_board(bno, title, content, writer)
    VALUES (seq_board.nextval, #{title}, #{content}, #{writer})
</insert>

<update id="updateBoard" parameterType="boardDTO">
    UPDATE tbl_board
    SET updatedate = sysdate
	    ,title = #{title}   
		,content = #{content}
		,writer = #{writer}
    WHERE bno = #{bno}
</update>

<update id="updateReplyCnt">
	UPDATE tbl_board 
	set replycnt = replycnt + #{amount}
	WHERE bno = #{bno}
</update>

<delete id="deleteBoard" parameterType="long">
    DELETE FROM tbl_board
    WHERE bno = #{bno}
</delete>

<select id="findAll" resultType="BoardDTO">
	SELECT BNO, TITLE, WRITER, REGDATE, replycnt FROM (
	    select /*+index_desc(TBL_BOARD PK_BOARD)*/ 
	    ROWNUM RN, 
	    BNO, 
	    TITLE, 
	    WRITER, 
	    REGDATE,
	    replycnt
	    from tbl_board 
	    <![CDATA[
	    	WHERE ROWNUM <= #{end}
	    ]]>
	    <include refid="criteria"></include>
	) WHERE RN >= #{start}
	    
</select>

<select id="info" parameterType="long">
    SELECT bno,
           title,
           content,
           writer,
           regdate,
           replycnt
    FROM   tbl_board
    WHERE  bno = #{bno}
</select>

<select id="getCount" resultType="int">
	SELECT COUNT(*) 
	FROM tbl_board
	<where>
		<include refid="criteria"></include>
	</where>
</select>

<!-- 동일한 쿼리 지정해놓고 불러서 쓰는법(공통함수느낌) -->
<sql id="criteria">
	<if test="keyword != null and ! keyword.equals('')">
		<trim prefix="and (" suffix=")" prefixOverrides="or">
		    <foreach item="type" collection="typeArr">
		    	<trim prefix="or">
			    	<choose>
			    		<when test="type == 'T'.toString()">
			    			 TITLE LIKE  '%' || #{keyword} || '%'
			    		</when>
			    		<when test="type == 'C'.toString()">
			    			 CONTENT LIKE  '%' || #{keyword} || '%'
			    		</when>
			    		<when test="type == 'W'.toString()">
			    			 WRITER LIKE  '%' || #{keyword} || '%'
			    		</when>
			    	</choose>
		    	</trim>
		    </foreach>
	    </trim>
	</if>
</sql>

</mapper>