<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.insa.mapper.EmpMapper">

<!-- 사원등록 -->
<insert id="register">
	INSERT INTO employees (employee_id,
	                       first_name,
	                       last_name,
	                       email,
	                       hire_date,
	                       job_id
	                      )
	VALUES (employeeId_seq.nextval,
	        #{firstName},
	        #{lastName},
	        #{email},
	        #{hireDate},
	        #{jobId}
	        )
</insert>

<!-- 사원 전체 조회 -->
<select id="getList" resultType="EmpDTO">
	SELECT employee_id,
           first_name,
           last_name,
           email,
           phone_number,
           hire_date,
           job_id,
           salary,
           commission_pct,
           manager_id,
           department_id
    FROM employees
</select>

<select id="read" parameterType="DeptDTO">
    SELECT department_id,
           department_name,
           manager_id,
           location_id
    FROM   departments
    WHERE  department_id = #{departmentId}
</select>

<!-- Jobs조회 -->
<select id="getJobList" resultType="JobsDTO">
	SELECT job_id,
	       job_title,
	       min_salary,
	       max_salary
    FROM jobs
</select>

<!-- 사원 id max 값 -->
<select id="max">
	SELECT max(employee_id)
	FROM employees
</select>

<!-- 사원 삭제 -->
<delete id="delete">
	DELETE FROM
	employees
	WHERE employee_id = #{employeeId}
</delete>


</mapper>